*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'jost' sans-serif;
}

.portada-ppal{
    display: block;
    width: 100%;
    height: 100vh;
    background-image: url(./IMG/portada-androirL.png);
    background-size: cover;
    background-repeat: no-repeat; 
    
     
}

.header{
    display: block;
    width: 100%;

}

.navbar{
    width: 100%;
}

.menu{
    display: flex;
    justify-content: right;

}

.items{
    padding: .5rem .75rem;
    list-style: none;
    font-family: 'Jost', sans-serif;
}

.link{
    font-size: .6rem;
    text-decoration: none;
    color: #ffff;
}

.logo-posicion{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    width: 100%;
}

.logo-posicion .cabanas-logo{
    width: 100%;
    grid-column: 1/2;
    grid-row: 1;
    padding: 1rem 0  0  1rem;
}

.titulo-posicion{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    /* align-items: center; */
    margin-top: 9rem
}

.valle-fertil{
    font-size: 1.5rem;
}

.titulo-portada-ppal{
    font-size: 2.5rem;
    text-align: left;
    font-family: 'Jost', sans-serif;
    padding: 0 0 0 2rem;
    color: #ffff;
    text-shadow:  3px 3px 2px black;
    font-weight: 900;
    line-height: 2.7rem;
}

.tierra-de-dinosaurios{
    font-family: 'Jost', sans-serif;
    color: #ffff;
    padding-top:6rem;
    padding-left: 2rem;
    font-size: 1.1rem;
    text-shadow:  3px 3px 2px black;
    text-align: center;
}
.bloque-2{
    display: block;
    width: 100%;
    background-color: #F0BB8A;
    position: relative;
    padding-bottom: 2rem;
}

.t-bloque-2{
    width: 100%;
    display: block;
    padding-top: 2rem;
    
}

.texto-b-2 {
    font-size: 1.3rem;
    font-family: 'Jost', sans-serif;
    padding: 0 1rem 2rem 1rem;
    color: rgb(38 37 37);
    text-align: left;

}

.texto2-b-2{
    font-family: 'Jost', sans-serif;
    padding: 0 1rem 2rem 1rem;
    color: rgb(38 37 37);
    text-align: left;
    width: 95%;
}

.caracteristicas{
    display: block;
    width: 100%;
}

.c-sup{
    width: 100%;    
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    position: relative;
}

.c-inf{
    width: 100%;    
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.galeria__instalaciones{
    width: 90%;
    height: fit-content;
    /* display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: .2rem; */
    display: flex;
    flex-direction: row;
    overflow:hidden;
    margin: auto;
    padding-bottom: 1rem;
    padding-bottom: 0;
    
    border: 1px solid white;
    position: relative;
}

.galeria__tt{
    display: block;
    color: #fff;
    font-size: 1rem;
    padding: 1rem;
    font-family: 'jost', sans-serif;
    text-decoration: underline;
    text-align: center;
}

.galeria__txt{
    position: absolute;
    text-align: center;   
    /* padding: auto; */
    font-family: sans-serif;
    /* color: #0000; */
    top: 50%;
    left: 35%;
    transform: translate(-50%), -50;
    /* z-index: 1000000000; */
    
}

#galeria img{
    width: 100%;
    /* height: fit-content; */
    border-radius: 3px;
    cursor: pointer;
    /* object-fit: contain; */
    margin: auto;
    opacity: .5;
}

#img-activa{
    width: 100%;
    height: auto;

}

#contenedor-principal-galeria{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.65);
}

#contenedor-interno{
    width: 100%;
    /* height: 100%; */
    border: 1px #f3f3f3 solid;
    /* padding: 1rem; */
    display: flex;
    justify-content: center;
    position: relative;
}

button{
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: #f3f3f3;
}

#btn-cierra{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1rem;
    padding: .6rem;
}

#btn-retrocede{
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 1.5rem;
    padding: .6rem;
}

#btn-adelanta{
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 1.5rem;
    padding: .6rem;
}


.bloque-3{
    display: block;
    background-image: url(./IMG/como\ llegar\ ANDROIDL.png);
    width: 100%;
    height: auto;
}

.b3__tt__como-llegar{
    color: #fff;
    font-family: 'Jost', sans-serif;
    text-shadow:  3px 2px black;
    padding: 1.3rem 0 1rem 1rem;
}

.b3__tarjetas-por-ciudad{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.b3__t-p-c__san-juan .tarjeta__back{
    transform: rotateX(-180deg);
    backface-visibility: hidden;    
    transition: transform .2s;
}

.bloque-4{
    background-color: #2F0F01;
    display: block;
    width: 100%;
}

.contacto__tt{
    text-align: center;
    font-family: 'jost', sans-serif;
    color: #fff;
    font-weight: 500;
    padding-top: 2.5rem;
}

.datos-contacto{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.contacto__datos{
    display: inline;
    width: 100%;
    margin-top: 1rem;
}

.datos__txt{
    text-align: center;
    color: #fff;
    font-family: 'jost', sans-serif;
    font-size: .8rem;
    padding: 1rem;
}

.contacto__mapa{
    width: 100%;
    /* height: 150px; */
    /* padding: 2rem .5rem 1rem 3rem; */
    /* margin: auto; */
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.footer{
    background-color: black;
    width: 100%;
}

.develop{
    color:#fff;
    text-align: center;
    font-family: 'jost', sans-serif;
    font-size: .5rem;
    padding: .5rem;
}


